<%= form_for [@job, Comment.new] do |f| %>
	<div class="field">
		<p>
			<%= f.label :name %>
		</p>
		<p>
			<%= f.text_field :name, class: 'form-control' %>
		</p>
	</div>

	<div class="field">
		<p>
			<%= f.label :body %>
		</p>
		<p>
			<%= f.text_area :body, class: 'form-control' %>
		</p>
	</div>

	<div class="actions">
		<%= f.submit "send", class: 'btn btn-primary btn-full' %>
	</div>
<% end %>
