<%= form_for [@job, Comment.new] do |f| %>
	<div class="field">
		<p>
			<%= f.label :name %>
		</p>
		<p>
			<%= f.text_field :name, class: 'form-control' %>
		</p>
	</div>

	<div class="field">
		<p>
			<%= f.label :body %>
		</p>
		<p>
			<%= f.text_area :body, class: 'form-control' %>
		</p>
	</div>

	<div class="actions">
		<%= button_tag(type: 'submit', class: "btn btn-primary btn-full") do %>
		 	<i class="glyphicon glyphicon-send"></i> Send Comment
		<% end %>
	</div>
<% end %>
