<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
  	<%= f.label :premium %><br/>
  	<%= f.check_box :premium %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control ckeditor' %>
  </div>
  <div class="actions">
    <%= link_to jobs_path, class: 'btn btn-default' do %>
    	<i class="glyphicon glyphicon-remove"></i> <%= t('.cancel')%>
    <% end %>
    <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
    	<i class="glyphicon glyphicon-ok"></i> <%= t('.send')%>
    <% end %>
  </div>
<% end %>
