<div class="panel panel-default">
	<div class="panel-heading">
		<h3>
			<%= job_title job %>
		</h3>
	</div>
	<div class="panel-body">
		<%= simple_format job.description %>
	<p>
		<%= pluralize job.comments.size, 'comment' %>
		<%= link_to 'Show', job %> 
		
		<% if current_company == job.company %>
			| <%= link_to 'Edit', edit_job_path(job) %>
			| <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
		<% end %>
	</p>
</div>
	
